.text-primary-custom {
  color: #115d72;
}
.lh-2 {
  line-height: 2rem;
}
.bg-highlight-custom {
  background-color: #0b434d !important;
  color: white !important;
}
.btn-highlight {
  background-color: #0b434d;
  color: white;
}
.btn-primary {
  background-color: #14a2ba;
  color: white;
}
.btn-secondary {
  background-color: #629aaa;
  color: white;
}
.text-primary-gradient {
  background: linear-gradient(90deg, #ffdb4c, #684f31);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-gradient-2 {
  background: rgb(255,255,254);
  background: linear-gradient(145deg, rgba(255,255,254,1) 0%, rgba(255,246,188,1) 100%);
}
